

.bg-nude {
    background-color: #e1d8cf;
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.section-left {
    position: absolute;
    right: 60%;
    top: 35%;
}

.section-right {
    position: absolute;
    left: 50%;
    top: 20%;
}

.header {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.description {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
}  

.section-right h2 {
    font-family: 'Cinzel', sans-serif;
    font-weight: 200;
    font-size: 100px;
    padding: 0;
    margin: 0;
}